SERVER_HOST=0.0.0.0
SERVER_PORT=8443

NUM_ROUNDS=5
MIN_CLIENTS=2
MAX_CLIENTS=3
LOCAL_EPOCHS=3

ANOMALY_THRESHOLD=0.80

DP_EPSILON_TARGET=2.0
DP_DELTA=1e-5
DP_CLIPPING_NORM=1.0

CHECKPOINT_DIR=checkpoints
LOG_DIR=logs

TLS_ENABLED=true
TLS_CERT_FILE=certificates/server.crt
TLS_KEY_FILE=certificates/server.key
TLS_CA_FILE=certificates/ca.crt
